{% set variants = {
	"default": {
		"baseBlockClasses": 'text-center',
		"colors": {
			'light': {
				"colorBlockClasses": "text-neutral-darker bg-white"
			},
			'warning': {
				"colorBlockClasses": "text-white bg-orange-500"
			},
			'success': {
				"colorBlockClasses": "text-white bg-green-500"
			},
			'error': {
				"colorBlockClasses": "text-white bg-red-500"
			}
		},
		"sizes": {
			'md': {
				"sizeBlockClasses": "p-4 text-lg"
			}
		}
	}
} %}

{% set blockClasses = [
	data.cssClasses,
	variants[data.variant|default("default")].baseBlockClasses,
	variants[data.variant|default("default")].colors[data.color|default("light")].colorBlockClasses,
	variants[data.variant|default("default")].sizes[data.size|default("md")].sizeBlockClasses,
]|join(" ") %}

<div data-block="{{ (_self|split('/')|last|split('.')|first) }}" class="{{ blockClasses }}" {% for key, value in data.attributes %}{{ value ? "#{key}=\"#{value}\" "|raw }}{% endfor %}>
	{{ data.text|raw }}
</div>