<div class="">
	<h2>Containers</h2>
	<p>Containers are the most basic layout element. They are used to contain and center the Blocks within them. Each Container can have inner spacing (padding) and outer spacing (margin). As well as ID, CSS class, vertical indent between blocks, background color and image.</p>
	<p>There are different types of containers:</p>
	<ul>
		<li>Narrow (default) - sets a maximum width (typically 1160px) for the blocks and includes side margins.</li>
		<li>Normal - sets a maximum width (typically 1440px) for the blocks and includes side margins.</li>
		<li>Fluid - spans the entire width of the viewport and includes side margins.</li>
		<li>None (full width) - spans the entire width of the viewport and does not include side margins.</li>
	</ul>
	<h2>Blocks</h2>
	<p>Blocks are the fundamental elements of your page. They represent different components such as headlines, text blocks, images, and more. Each Block can have top and bottom margin (in order to set the indent between the blocks). As well as ID and CSS class</p>
	<p>Block can be disabled (hidden on site frontend) by changing "Enabled" switch in Block properties.</p>
	<p>The "Width" setting allows you to specify the width of a block within its Container. It determines the number of columns the Block will occupy. By adjusting this setting, you can control the block's horizontal space and alignment. Increase or decrease the number of columns to achieve the desired layout and ensure your content fits harmoniously within the overall design.</p>
</div>