<div data-block="{{ (_self|split('/')|last|split('.')|first) }}" class="{{ data.cssClasses }}" {% for key, value in data.attributes %}{{ value ? "#{key}=\"#{value}\" "|raw }}{% endfor %}>
	<div class="relative h-[300px] flex items-end pb-10">
		<svg class="absolute top-0 left-0 z-0 bg-primary-dark w-full h-full" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" preserveAspectRatio="none" viewBox="0 0 1440 560">
			<g mask="url(&quot;#SvgjsMask1027&quot;)" fill="none">
				<rect width="1440" height="560" x="0" y="0" fill="#0e2a47"></rect>
				<path d="M820 91L819 406" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1028&quot;)" stroke-linecap="round" class="Down"></path>
				<path d="M1184 343L1183 154" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1028&quot;)" stroke-linecap="round" class="Down"></path>
				<path d="M1147 525L1146 875" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1028&quot;)" stroke-linecap="round" class="Down"></path>
				<path d="M113 94L112 -111" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1029&quot;)" stroke-linecap="round" class="Up"></path>
				<path d="M863 168L862 -117" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1029&quot;)" stroke-linecap="round" class="Up"></path>
				<path d="M342 62L341 383" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1028&quot;)" stroke-linecap="round" class="Down"></path>
				<path d="M1053 351L1052 654" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1028&quot;)" stroke-linecap="round" class="Down"></path>
				<path d="M1367 44L1366 -249" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1029&quot;)" stroke-linecap="round" class="Up"></path>
				<path d="M149 102L148 -240" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1029&quot;)" stroke-linecap="round" class="Up"></path>
				<path d="M648 524L647 903" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1029&quot;)" stroke-linecap="round" class="Up"></path>
				<path d="M894 503L893 907" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1029&quot;)" stroke-linecap="round" class="Up"></path>
				<path d="M708 78L707 -281" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1028&quot;)" stroke-linecap="round" class="Down"></path>
				<path d="M1038 222L1037 -125" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1029&quot;)" stroke-linecap="round" class="Up"></path>
				<path d="M1141 66L1140 -107" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1029&quot;)" stroke-linecap="round" class="Up"></path>
				<path d="M395 299L394 -72" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1028&quot;)" stroke-linecap="round" class="Down"></path>
				<path d="M1291 447L1290 254" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1028&quot;)" stroke-linecap="round" class="Down"></path>
				<path d="M263 244L262 505" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1029&quot;)" stroke-linecap="round" class="Up"></path>
				<path d="M948 21L947 -276" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1028&quot;)" stroke-linecap="round" class="Down"></path>
				<path d="M375 442L374 262" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1028&quot;)" stroke-linecap="round" class="Down"></path>
				<path d="M257 549L256 951" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1028&quot;)" stroke-linecap="round" class="Down"></path>
				<path d="M94 438L93 591" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1029&quot;)" stroke-linecap="round" class="Up"></path>
				<path d="M106 181L105 -146" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1029&quot;)" stroke-linecap="round" class="Up"></path>
				<path d="M656 15L655 360" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1028&quot;)" stroke-linecap="round" class="Down"></path>
				<path d="M992 334L991 727" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1029&quot;)" stroke-linecap="round" class="Up"></path>
				<path d="M1061 284L1060 26" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1028&quot;)" stroke-linecap="round" class="Down"></path>
				<path d="M405 249L404 -85" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1029&quot;)" stroke-linecap="round" class="Up"></path>
				<path d="M1259 482L1258 219" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1028&quot;)" stroke-linecap="round" class="Down"></path>
				<path d="M1178 470L1177 176" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1029&quot;)" stroke-linecap="round" class="Up"></path>
				<path d="M54 95L53 247" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1028&quot;)" stroke-linecap="round" class="Down"></path>
				<path d="M607 144L606 351" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1029&quot;)" stroke-linecap="round" class="Up"></path>
				<path d="M1101 18L1100 220" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1029&quot;)" stroke-linecap="round" class="Up"></path>
				<path d="M650 510L649 753" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1029&quot;)" stroke-linecap="round" class="Up"></path>
				<path d="M235 132L234 334" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1029&quot;)" stroke-linecap="round" class="Up"></path>
				<path d="M617 90L616 380" stroke-width="10" stroke="url(&quot;#SvgjsLinearGradient1028&quot;)" stroke-linecap="round" class="Down"></path>
				<path d="M77 150L76 380" stroke-width="6" stroke="url(&quot;#SvgjsLinearGradient1028&quot;)" stroke-linecap="round" class="Down"></path>
				<path d="M1008 188L1007 427" stroke-width="8" stroke="url(&quot;#SvgjsLinearGradient1028&quot;)" stroke-linecap="round" class="Down"></path>
			</g>
			<defs>
				<mask id="SvgjsMask1027">
					<rect width="1440" height="560" fill="#ffffff"></rect>
				</mask>
				<linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="SvgjsLinearGradient1028">
					<stop stop-color="rgba(28, 83, 142, 0)" offset="0"></stop>
					<stop stop-color="#1c538e" offset="1"></stop>
				</linearGradient>
				<linearGradient x1="0%" y1="100%" x2="0%" y2="0%" id="SvgjsLinearGradient1029">
					<stop stop-color="rgba(28, 83, 142, 0)" offset="0"></stop>
					<stop stop-color="#1c538e" offset="1"></stop>
				</linearGradient>
			</defs>
		</svg>
		
		<div class="relative container z-10">
			<div class="w-[100px] h-0.5 bg-white mb-4"></div>
			
			{% partial "blocks/headline/headline" data = {
				cssClasses: "",
				tag: "h1",
				text: data.heading,
				color: "light",
				size: "h1",
				variant: ""
			} %}
		</div>
	</div>
</div>