[collection posts]
handle = "Blog\Post"
==
{% set posts = posts.limit(4).get() %}

<div data-block="{{ (_self|split('/')|last|split('.')|first) }}" class="w-full {{ data.cssClasses }}" {% for key, value in data.attributes %}{{ value ? "#{key}=\"#{value}\" "|raw }}{% endfor %}>
	<div class="grid grid-cols-1 gap-y-6 gap-x-2 justify-items-center sm:grid-cols-2 lg:grid-cols-4">
		{% for item in posts %}
			{% partial "blocks/card-post/card-post" data = {
				cssClasses: "max-w-[500px]",
				title: item.title,
				date: item.published_at_date|date("Y-m-d"),
				url: "site/news-details"|page({ slug:item.slug }),
				excerpt: item.intro_text,
				image: {
					imgCssClasses: "",
					src: item.image,
					resize:
					{
						"width": "470",
						"height": "310",
						"mode": "crop",
						"extension": "",
						"quality": ""
					},
					attributes:
					{
						"alt": item.name
					}
				}
			} %}
		{% endfor %}
	</div>
</div>