<div data-block="{{ (_self|split('/')|last|split('.')|first) }}" class="overflow-hidden rounded-lg transition-all shadow-xl hover:shadow-2xl {{ data.cssClasses }}" {% for key, value in data.attributes %}{{ value ? "#{key}=\"#{value}\" "|raw }}{% endfor %}>
	<a href="{{ data.url }}" class="block overflow-hidden group">
		{% partial "blocks/image/image" data = {
			cssClasses: "w-full h-auto transition-all duration-1000 group-hover:scale-125",
			imgCssClasses: "w-full "~data.image.imgCssClasses,
			src: data.image.src ?: "partials/blocks/card-post/placeholder.png"|theme,
			resize: data.image.resize,
			attributes: data.image.attributes
		} %}
	</a>
	<div class="px-3 py-5 flex flex-col items-start flex-auto">
		<a href="{{ data.url }}" class="text-xl font-semibold transition hover:text-secondary xl:text-xl">{{ data.title }}</a>
		{% if data.excerpt %}
			<div class="my-4 flex-auto">
				{{ data.excerpt }}
			</div>
		{% endif %}
		{#        {% if data.date %} #}
		{#            <div class="italic font-light text-sm text-neutral-light mt-2 mb-2 xl:text-base">{{ data.date }}</div> #}
		{#        {% endif %} #}
		{#        <a href="{{ data.url }}" class="flex group items-center text-sm text-neutral xl:text-base"> Read more #}
		{#            {% partial "blocks/svg-icon/svg-icon" data = { #}
		{#                cssClasses: "w-3 h-3 ml-2 transition-all fill-neutral group-hover:ml-4 group-hover:fill-secondary", #}
		{#                name: "arrow-right" #}
		{#            } %} #}
		{#        </a> #}
	</div>
</div>