<div data-block="{{ (_self|split('/')|last|split('.')|first) }}" class="{{ data.cssClasses }} bg-white border border-neutral-lighter flex flex-col" {% for key, value in data.attributes %}{{ value ? "#{key}=\"#{value}\""|join(" ")|raw }}{% endfor %}>
	{% if data.url %}
	<a href="{{ data.url }}" class="block overflow-hidden group">
		{% else %}
		<div class="block overflow-hidden">
			{% endif %}
			{% partial "blocks/image/image" data = {
				cssClasses: "w-full h-auto transition group-hover:opacity-60",
				imgCssClasses: data.image.imgCssClasses,
				src: data.image.src|default("assets/images/placeholder.jpg"|theme),
				resize: data.image.resize,
				attributes: data.image.attributes
			} %}
			{% if data.url %}
	</a>
	{% else %}
</div>
{% endif %}
<div class="p-4 flex flex-col items-center flex-auto grow md:py-10">
	{% if data.url %}
		<a href="{{ data.url }}" class="mb-1 font-secondary text-3xl mb-4 transition hover:text-primary">{{ data.title }}</a>
	{% else %}
		<div class="mb-1 font-secondary text-3xl mb-4 md:mb-6">{{ data.title }}</div>
	{% endif %}
	<div class="w-full max-w-[100px] h-1 bg-secondary"></div>
	{% if data.icons %}
		<div class="flex flex-wrap justify-center -m-2 mt-4 md:mt-6">
			{% for icon in data.icons %}
				<div class="flex items-center m-2">
					<img class="h-6 mr-2 md:mx-4" src="{{ icon.icon_image.path }}" alt="{{ icon.icon_text }}">
					{{ icon.icon_text }}
				</div>
			{% endfor %}
		</div>
	{% endif %}
</div>
</div>