[collection posts]
handle = "Blog\Post"
==
{% if data.categorySlug %}
	{% set posts = posts.whereRelation('categories', 'slug', data.categorySlug).paginate(100) %}
{% endif %}

<div data-block="{{ (_self|split('/')|last|split('.')|first) }}" class="{{ data.cssClasses }}" {% for key, value in data.attributes %}{{ value ? "#{key}=\"#{value}\" "|raw }}{% endfor %}>
	{% if posts is not empty %}
		<div class="grid grid-cols-1 gap-4 justify-items-center sm:grid-cols-2 lg:grid-cols-3 xl:gap-6">
			{% for item in posts %}
				{% partial "blocks/card-post/card-post" data = {
					cssClasses: "max-w-[500px]",
					title: item.title,
					date: item.published_at_date|date("Y-m-d"),
					url: "site/blog-post"|page({ slug:item.slug }),
					excerpt: item.intro_text,
					image: {
						imgCssClasses: "",
						src: item.image,
						resize:
						{
							"width": "580",
							"height": "330",
							"mode": "crop",
							"extension": "",
							"quality": ""
						},
						attributes:
						{
							"alt": item.name
						}
					}
				} %}
			{% endfor %}
		</div>
	{% else %}
		<div class="prose">
			<p>{{ 'There are no posts in this category yet.'|_ }}</p>
		</div>
	{% endif %}
</div>