<style>
    [action*="/menu_header_main/"] .slug-section,
    [action*="/menu_header_main/"] .enabled-controls,
    [action*="/menu_header_top/"] .slug-section,
    [action*="/menu_header_top/"] .enabled-controls,
    [action*="/menu_footer_restaurants/"] .slug-section,
    [action*="/menu_footer_restaurants/"] .enabled-controls,
    [action*="/menu_footer_partners/"] .slug-section,
    [action*="/menu_footer_partners/"] .enabled-controls,
    [action*="/menu_mobile/"] .slug-section,
    [action*="/menu_mobile/"] .enabled-controls
    [action*="/menu_mobile_additional/"] .slug-section,
    [action*="/menu_mobile_additional/"] .enabled-controls
    {
        display: none;
    }
</style>