{% set classItem = '' %}
{% set classItemLink = 'text-neutral-darker w-8 h-8 no-underline text-center cursor-pointer flex items-center justify-center transition hover:bg-primary hover:text-white md:w-10 md:h-10' %}
{% set classActive = 'bg-primary !text-white !cursor-not-allowed' %}
{% set classDisabled = '!cursor-not-allowed' %}
{% set classPrevNext = 'group text-neutral-darker w-8 h-8 no-underline text-center cursor-pointer flex items-center justify-center transition hover:bg-primary hover:text-white md:w-10 md:h-10' %}
{% set classPrevNextIcon = 'w-3 h-3 fill-inherit transition group-hover:fill-white' %}
{% set classDivider = 'text-neutral-darker w-8 h-8 text-center flex items-center justify-center md:w-10 md:h-10' %}

{% if paginator.currentPage > paginator.lastPage %}{% do abort(404) %}{% endif %}
{% if input('page') == 1 %}{% do redirect(paginator.path) %}{% endif %}

{% if paginator.hasPages %}
	<ul class="flex justify-center shadow-md">
		
		{% if paginator.onFirstPage %}
			<li class="{{ classItem }}" aria-disabled="true" aria-label="{{ 'system::lang.pagination.previous'|trans }}">
	            <span class="{{ [classPrevNext, classDisabled]|join(' ') }}" aria-hidden="true">
	                {% partial "blocks/svg-icon/svg-icon" data = {
		                cssClasses: classPrevNextIcon,
		                name: "chevron-left"
	                } %}
	            </span>
			</li>
		{% else %}
			<li class="{{ classItem }}">
				<a class="{{ classPrevNext }}" href="{{ paginator.path }}" rel="prev" aria-label="{{ 'system::lang.pagination.previous'|trans }}">
					{% partial "blocks/svg-icon/svg-icon" data = {
						cssClasses: classPrevNextIcon,
						name: "chevron-left"
					} %}
				</a>
			</li>
		{% endif %}
		
		{% for element in elements %}
			{% if element is iterable %}
				{#- - Array Of Links - -#}
				{% for page, url in element %}
					{% if page == paginator.currentPage %}
						<li class="{{ classItem }}" aria-current="page">
							<span class="{{ [classItemLink, classActive]|join(' ') }}">{{ page }}</span></li>
					{% else %}
						<li class="{{ classItem }}">
							<a class="{{ classItemLink }}" href="{{ page == 1 ? paginator.path : url }}">{{ page }}</a>
						</li>
					{% endif %}
				{% endfor %}
			{% else %}
				<li class="" aria-disabled="true">
					<span class="{{ classDivider }}">{{ element }}</span>
				</li>
			{% endif %}
		{% endfor %}
		
		{% if paginator.hasMorePages %}
			<li class="{{ classItem }}">
				<a class="{{ classPrevNext }}" href="{{ paginator.nextPageUrl }}" rel="next" aria-label="{{ 'system::lang.pagination.next'|trans }}">
					{% partial "blocks/svg-icon/svg-icon" data = {
						cssClasses: classPrevNextIcon,
						name: "chevron-right"
					} %}
				</a>
			</li>
		{% else %}
			<li class="{{ classItem }}" aria-disabled="true" aria-label="{{ 'system::lang.pagination.next'|trans }}">
            <span class="{{ [classPrevNext, classDisabled]|join(' ') }}" aria-hidden="true">
                {% partial "blocks/svg-icon/svg-icon" data = {
	                cssClasses: classPrevNextIcon,
	                name: "chevron-right"
                } %}
            </span>
			</li>
		{% endif %}
	</ul>
{% endif %}