{% for block in blocks %}
	
	{% set name = block.content_group %}
	{% set isEnabled = block.is_enabled %}
	
	{% set classes = {
		"base": "w-full relative "~block.css_classes,
		"margins": config['margins']['top'][block.margins.0['top']] ~ ' ' ~ config['margins']['bottom'][block.margins.0['bottom']],
		"col_span": config['col_span'][block.col_span]
	} %}
	{% set blockClasses = [ classes['base'], classes['margins'], classes['col_span'] ]|join(' ') %}
	
	{% if name == 'codeeditor' and isEnabled %}
		{% partial "blocks/codeeditor/codeeditor" data = {
			cssClasses: blockClasses,
			text: block.text,
			attributes: {
				"id":block.html_anchor
			}
		} %}
	{% endif %}
	
	{% if name == 'codehighlighter' and isEnabled %}
		{% partial "blocks/codehighlighter/codehighlighter" data = {
			cssClasses: blockClasses,
			text: block.text,
			language: block.language,
			attributes: {
				"id":block.html_anchor
			}
		} %}
	{% endif %}
	
	{% if name == 'richeditor' and isEnabled %}
		{% partial "blocks/richeditor/richeditor" data = {
			cssClasses: blockClasses,
			text: block.text,
			attributes: {
				"id":block.html_anchor
			}
		} %}
	{% endif %}
	
	{% if name == 'image' and isEnabled %}
		{% partial "blocks/image/image" data = {
			cssClasses: blockClasses,
			src: block.src,
			resize: {
				width: block.resize.0.width,
				height: block.resize.0.height,
				mode: block.resize.0.mode,
				extension:"",
				quality: ""
			},
			attributes: {
				id: block.html_anchor,
				alt: block.src.description ?: "",
				title: block.src.title ?: ""
			}
		} %}
	{% endif %}
	
	{% if name == 'headline' and isEnabled %}
		{% partial "blocks/headline/headline" data = {
			cssClasses: blockClasses,
			tag: block.tag,
			color: block.color,
			size: block.size,
			variant: block.variant,
			text: block.text,
			attributes: {
				"id":block.html_anchor
			}
		} %}
	{% endif %}
	
	{% if name == 'hero' and isEnabled %}
		{% partial "blocks/hero/hero" data = {
			cssClasses: blockClasses,
			bg: block.bg,
			image: {
				cssClasses: "",
				imgCssClasses: "",
				src: block.image|default("assets/images/placeholder.jpg"|theme),
				resize: {},
				attributes: {}
			},
			headline: {
				cssClasses: "",
				tag: "h1",
				text: block.headline,
				color: "light",
				size: "h1",
				variant: "",
				attributes: {}
			},
			text: block.text,
			button_1: {
				cssClasses: "",
				tag: "a",
				body: block.button_1_text,
				color: "light",
				size: "",
				variant: "outline",
				attributes: {
					href: block.button_1_link|link,
					target: block.button_1_target ? "_blank" : "_self"
				}
			},
			button_2: {
				cssClasses: "",
				tag: "a",
				body: block.button_2_text,
				color: "light",
				size: "",
				variant: "outline",
				attributes: {
					href: block.button_2_link|link,
					target: block.button_2_target ? "_blank" : "_self"
				}
			},
		} %}
	{% endif %}
	
	{% if name == 'content_image_text' and isEnabled %}
		{% partial "blocks/content-image-text/content-image-text" data = {
			cssClasses: blockClasses,
			text: block.text,
			headline: block.headline,
			image: {
				cssClasses: "",
				imgCssClasses: "",
				src: block.image,
				resize: {
					width: "500",
					height: "auto",
					mode: "crop",
					extension: "",
					quality: ""
				},
				attributes: {
					alt: block.image.description ?: block.headline,
					title: block.image.title ?: block.headline
				}
			},
			attributes: {
				"id":block.html_anchor
			}
		} %}
	{% endif %}
	
	{% if name == 'breadcrumbs' and isEnabled %}
		{% partial "blocks/breadcrumbs/breadcrumbs" data = {
			cssClasses: blockClasses,
			breadcrumbs: (block.mode == "custom" ? block.items : [{"name": builder.title,"url": ""}]),
			attributes: {
				"id":block.html_anchor
			}
		} %}
	{% endif %}
	
	{% if name == 'gallery_grid' and isEnabled %}
		{% partial "blocks/gallery-grid/gallery-grid" data = {
			cssClasses: blockClasses,
			images: block.images,
			attributes: {
				"id":block.html_anchor
			}
		} %}
	{% endif %}

{% endfor %}