{% set variants = {
	"default": {
		"baseBlockClasses": "relative",
		"baseLabelClasses": "inline-block mb-1",
		"baseInputWrapperClasses": "relative",
		"baseInputClasses": "block leading-normal w-full px-2 border transition focus:ring-1 focus:ring-opacity-40 focus:outline-none disabled:bg-slate-200 disabled:cursor-not-allowed disabled:opacity-70",
		"baseValidationClasses": "text-sm mt-1 text-white visible empty:hidden bg-red-500 p-1",
		"colors": {
			"dark": {
				"colorInputClasses": "text-neutral-darker bg-gray-200 border-gray-200 focus:border-primary/40 focus:ring-primary"
			},
			"light": {
				"colorInputClasses": "text-neutral-darker bg-white border-gray-200 focus:border-primary/40 focus:ring-primary"
			}
		},
		"sizes": {
			"xs": {
				"sizeInputClasses": "text-xs p-2"
			},
			"sm": {
				"sizeInputClasses": "text-sm p-2"
			},
			"md": {
				"sizeInputClasses": "text-normal p-2"
			},
			"lg": {
				"sizeInputClasses": "text-lg p-2"
			},
			"xl": {
				"sizeInputClasses": "text-xl p-2"
			}
		}
	},
	"with-icon": {
		"baseBlockClasses": "relative",
		"baseLabelClasses": "inline-block mb-1",
		"baseInputWrapperClasses": "relative",
		"baseIconClasses": "absolute inset-y-0 m-auto fill-neutral-lighter h-4 left-2 top-0 w-4 z-10",
		"baseInputClasses": "block leading-normal w-full pr-2 pl-8 border transition focus:ring-1 focus:ring-opacity-40 focus:outline-none disabled:bg-slate-200 disabled:cursor-not-allowed disabled:opacity-70",
		"baseValidationClasses": "text-sm mt-1 text-white visible empty:hidden bg-red-500 p-1",
		"colors": {
			"dark": {
				"colorInputClasses": "text-neutral-darker bg-gray-200 border-gray-200 focus:border-primary/40 focus:ring-primary"
			},
			"light": {
				"colorInputClasses": "text-neutral-darker bg-white border-gray-200 focus:border-primary/40 focus:ring-primary"
			}
		},
		"sizes": {
			"xs": {
				"sizeInputClasses": "text-xs p-2"
			},
			"sm": {
				"sizeInputClasses": "text-sm p-2"
			},
			"md": {
				"sizeInputClasses": "text-normal p-2"
			},
			"lg": {
				"sizeInputClasses": "text-lg p-2"
			},
			"xl": {
				"sizeInputClasses": "text-xl p-2"
			}
		}
	}
} %}

{% set blockClasses = [
	data.cssClasses,
	variants[data.variant|default("default")].baseBlockClasses,
	variants[data.variant|default("default")].colors[data.color|default("light")].colorBlockClasses,
	variants[data.variant|default("default")].sizes[data.size|default("md")].sizeBlockClasses,
]|join(" ") %}

{% set labelClasses = [
	variants[data.variant|default("default")].baseLabelClasses,
	variants[data.variant|default("default")].colors[data.color|default("light")].colorLabelClasses,
	variants[data.variant|default("default")].sizes[data.size|default("md")].sizeLabelClasses,
]|join(" ") %}

{% set inputWrapperClasses = [
	variants[data.variant|default("default")].baseInputWrapperClasses,
	variants[data.variant|default("default")].colors[data.color|default("light")].colorInputWrapperClasses,
	variants[data.variant|default("default")].sizes[data.size|default("md")].sizeInputWrapperClasses,
]|join(" ") %}

{% set iconClasses = [
	variants[data.variant|default("with-icon")].baseIconClasses,
	variants[data.variant|default("with-icon")].colors[data.color|default("light")].colorIconClasses,
	variants[data.variant|default("with-icon")].sizes[data.size|default("md")].sizeIconClasses,
]|join(" ") %}

{% set inputClasses = [
	variants[data.variant|default("default")].baseInputClasses,
	variants[data.variant|default("default")].colors[data.color|default("light")].colorInputClasses,
	variants[data.variant|default("default")].sizes[data.size|default("md")].sizeInputClasses,
]|join(" ") %}

{% set validationClasses = [
	variants[data.variant|default("default")].baseValidationClasses,
	variants[data.variant|default("default")].colors[data.color|default("light")].colorValidationClasses,
	variants[data.variant|default("default")].sizes[data.size|default("md")].sizeValidationClasses,
]|join(" ") %}

<div data-block="{{ (_self|split('/')|last|split('.')|first) }}" class="{{ blockClasses }}" {% for key, value in data.attributes %}{{ value ? "#{key}=\"#{value}\""|join(" ")|raw }}{% endfor %}>
	{% if data.label %}
		<label for="{{ data.inputAttributes.id }}" class="{{ labelClasses }}">{{ data.label }}</label>
	{% endif %}
	<div class="{{ inputWrapperClasses }}">
		<input {% for key, value in data.inputAttributes %}{{ value ? "#{key}=\"#{value}\""|join(" ")|raw }}{% endfor %} class="{{ inputClasses }}">
		{% if data.variant == "with-icon" %}
			{% partial "blocks/svg-icon/svg-icon" data = {
				cssClasses: iconClasses,
				name: data.icon
			} %}
		{% endif %}
	</div>
	<div class="{{ validationClasses }}" data-validate-for="{{ data.inputAttributes.name }}"></div>
</div>
