title = "HTML Sitemap"
url = "/sitemap"
layout = "default"
is_hidden = 1

[section page]
handle = "Site\Pages\SitemapHtml"
identifier = ""
value = ""

[section sitemap]
handle = "Site\Sitemap"
identifier = "slug"
value = "sitemap-html"
==
{% put meta %}
{% partial "layout/meta/meta" data = {
	title: page.meta_title,
	description: page.meta_description,
	keywords: page.meta_keywords,
	og_image_1200_630: "",
	og_image_1200_1200: ""
} %}
{% endput %}

{% set breadcrumbs = [
	{'name':this.page.title|_, 'url':''},
] %}

{% partial "blocks/page-header/page-header" data = {
	cssClasses: "",
	heading: this.page.title|_
} %}

<div class="container pb-8 xl:pb-16">
	{% partial "blocks/breadcrumbs/breadcrumbs" data = {
		cssClasses: "my-6",
		breadcrumbs: breadcrumbs
	} %}
	
	{% macro render_sitemap_item(item, reference, isRoot) %}
		{% import _self as nav %}
		{% set hideRootItem = isRoot and item.replace %}
		{% if reference.url and not hideRootItem %}
			<li>
				<a href="{{ reference.url }}">{{ reference.title }}</a>
			</li>
		{% endif %}
		
		{#- Render child items -#}
		{% if reference.items %}
			{% for child in reference.items %}
				{{ nav.render_sitemap_item(item, child) }}
			{% endfor %}
		{% endif %}
	{% endmacro %}
	{% import _self as nav %}
	<ul>
		{% for item in sitemap.items %}
			{{ nav.render_sitemap_item(
				item,
				link(item.reference, { nesting: item.nesting, sites: true }),
				true
			) }}
		{% endfor %}
	</ul>
</div>