[collection portfolio]
handle = "Portfolio\Item"
==
<div data-block="{{ (_self|split('/')|last|split('.')|first) }}" class="{{ data.cssClasses }}" {% for key, value in data.attributes %}{{ value ? "#{key}=\"#{value}\" "|raw }}{% endfor %}>
	<div class="grid grid-cols-1 gap-y-6 gap-x-2 justify-items-center sm:grid-cols-2 xl:gap-x-6">
		{% for item in portfolio %}
			{% partial "blocks/card-portfolio/card-portfolio" data = {
				cssClasses: "max-w-[500px]",
				title: item.title,
				date: item.published_at_date|date("Y-m-d"),
				url: "site/news-details"|page({ slug:item.slug }),
				excerpt: item.intro_text,
				image: {
					imgCssClasses: "",
					src: item.image,
					resize:
					{
						"width": "580",
						"height": "330",
						"mode": "crop",
						"extension": "",
						"quality": ""
					},
					attributes:
					{
						"alt": item.name
					}
				}
			} %}
		{% endfor %}
	</div>
</div>